.Die {
  transition: all 0.3s ease-in-out;
  border: none;
  color: white;
  height: 3.7em;
  padding: 0;
  margin: 0;
  box-shadow: 0 16px 10px -4px rgba(0, 0, 0, 1);
}

.Die-locked {
  opacity: 50%;
  box-shadow: none;
}

.Die[disabled] {
  cursor: not-allowed;
}

.Die-icon {
  transition: all 0.3s ease-in-out;
  height: 2em;
}
