.HeaderDice {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(106, 40, 173);
  padding: 0.5em 0;
}

.HeaderDice-title {
  color: white;
  font-size: 4em;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.HeaderDice-dice {
  transition: all 0.3s ease-in-out;
  width: 23em;
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}

.HeaderDice-rollbtn {
  transition: all 0.3s ease-in-out;
  color: white;
  border: none;
  font-size: 1.4em;
  padding: 5px 30px;
  border-radius: 8px;
  margin: 1em 0 0.5em 0;
  background: linear-gradient(to right, #b58ecc, #5de6de);
  box-shadow: 1px 16px 19px -8px rgba(0, 0, 0, 1);
}

.HeaderDice-rollbtn:hover {
  transform: scale(1.1);
}

.HeaderDice-rollbtn[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 50%;
}

.HeaderDice-rollbtn[disabled]:hover {
  transform: none;
}
