.RuleRow-row {
  transition: all 0.3s ease-in-out;
  padding: 0.1em 0;
  margin: 0.1em 0;
  border-bottom: solid 1px rgb(106, 40, 173);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
}

.RuleRow-row:hover {
  cursor: pointer;
}

tr[disabled] {
  background-color: lightgray;
  opacity: 90%;
  cursor: not-allowed !important;
}

.disabled {
  transition: all 0.4s ease-in-out;
  background: linear-gradient(to right, #923993, #50d8d7);
  cursor: not-allowed;
  opacity: 80%;
}

.RuleRow-row td[disabled] {
  text-decoration: line-through;
}
