.ScoreTable-section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ScoreTable-section-header {
  transition: all 0.3s ease-in-out;
  padding: 0 0 0.1em 0;
  margin: 0.5em auto;
  width: 2.8em;
  font-weight: 400;
  border-bottom: solid 1px rgb(106, 40, 173);
}

.ScoreTable-table {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0 2.5em;
}

.total-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  margin: 0;
  padding: 0.5em 2.2em;
  font-size: 1.1em;
}
